
    * {border:solid}
    h1 {color:red}

    .firststyles{background-color: rgba(0, 0, 255, 0.445);
    display:flex;
justify-content: space-between;}

.box{
    background-color:#4f5c3d
}

.box2{
    background-color: darkgoldenrod;
    display:flex;
    justify-content: space-evenly;
}

.iconsstyles{
    background-image: linear-gradient(red,yellow 10%,blue,black);
    display:flex;
    justify-content: flex-end;
}

body{
    background-color:#808080;
}

.anything{
    margin-right: 30px;

}

h1{
    margin-left: 20px;
}

.anything a{
    margin-left:20px;
}

.item{
    position:relative

}

.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0
}

.item:hover p{
    opacity:1
}

.item:hover img{
    opacity:0.4
}
